
<nav class="navbar">
    <div class="nav-top">
        <div class="nav-top-left">
            <p>Language</p>
            <p>English</p>
        </div>
        <div class="nav-top-right">
            <img class="social-logo" src="/assets/icon/pinterest.svg">
            <img class="social-logo" src="/assets/icon/pinterest.svg">
            <img class="social-logo" src="/assets/icon/pinterest.svg">
            <img class="social-logo" src="/assets/icon/pinterest.svg">
            <p class="contact">CONTACT US</p>
        </div>
    </div>
    <div class="nav-bottom">
        <img class="logo" src="/assets/img/logo-main-top.png">
        <div>
            <a class="nav-item">Discover Owenership</a>
            <a class="nav-item">Resort and Destination</a>
            <a class="nav-item">Plan Your Vacation</a>
            <a class="nav-item">Sign In</a>
        </div>
    </div>
</nav>



	


